<!DOCTYPE html>
<html>
<head>
    <title>ModelSanoApp</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
</head>
<body>
    <div class="header">
        <img src="../static/modelSanoLogo.png" alt="logo">
        <h1>Model Sano App: Upload a CSV File with corresponding metabolites</h1>
    </div>
    
    <form method="POST" enctype="multipart/form-data" action="/predict">
        <label for="model-select">Select a model to predict metabolites:</label>
        
        <div class="model-select">
            <label for="model-select">Select source of samples:</label>
            <select id="model-select" onchange="toggleModelOptions()">
                <option value="model-list-1">Plasm models</option>
                <option value="model-list-2">Urine models</option>
            </select>
        </div>
        
        <div id="model-list-1">
            <label for="model1">Select algorithm and source data:</label>
            <select id="model1" name="model">
                <option value='mlp_full_plasm_ant'>mlp_full_plasm_ant</option>
                <option value="mlp_met_plasm_ant">mlp met plasm ant</option>
                <option value="rf_full_plasm_ant">rf full plasm ant</option>
                <option value="rf_met_plasm_ant">rf met plasm ant</option>
                <option value="mlp_full_plasm_flav">mlp full plasm flav</option>
                <option value="mlp_met_plasm_flav">mlp met plasm flav</option>
                <option value="rf_full_plasm_flav">rf full plasm flav</option>
                <option value="rf_met_plasm_flav">rf met plasm flav</option>
            </select>
        </div>
        
        <div id="model-list-2" style="display: none;">
            <label for="model2">Select algorithm and source data:</label>
            <select id="model2" name="model">
                <option value="mlp_full_urine_ant">mlp full urine ant</option>
                <option value="mlp_met_urine_ant">mlp met urine ant</option>
                <option value="rf_full_urine_ant">rf full urine ant</option>
                <option value="rf_met_urine_ant">rf met urine ant</option>
                <option value="mlp_full_urine_flav">mlp full urine flav</option>
                <option value="mlp_met_urine_flav">mlp met urine flav</option>
                <option value="rf_full_urine_flav">rf full urine flav</option>
                <option value="rf_met_urine_flav">rf met urine flav</option>
            </select>
        </div>
        <br>
        <input type="file" name="file">
        <input type="submit" value="Submit manual selection of model">
        <input type="submit" value="Submit automatic selection of model">
    </form>

    <h2>Download metaboLites/anthropometics measures predictions</h2>
    <a id="download-link" href="" download>Download CSV</a>

    <script src="../static/js/script.js"></script>
    <script>
        function toggleModelOptions() {
            var select = document.getElementById('model-select');
            var modelList1 = document.getElementById('model-list-1');
            var modelList2 = document.getElementById('model-list-2');
            if (select.value === 'model-list-1') {
                modelList1.style.display = 'block';
                modelList2.style.display = 'none';
            } else {
                modelList1.style.display = 'none';
                modelList2.style.display = 'block';
            }
        }
    </script>

    <script>
        function showHyperparametersForm() {
            var modelSelection = document.getElementById("model-selection");
            var selectedModel = modelSelection.options[modelSelection.selectedIndex].value;
            var mlpForm = document.getElementById("mlp-hyperparameters");
            var rfForm = document.getElementById("rf-hyperparameters");

            if (selectedModel === "mlp") {
                mlpForm.style.display = "block";
                rfForm.style.display = "none";
            } else if (selectedModel === "rf") {
                mlpForm.style.display = "none";
                rfForm.style.display = "block";
            }
            else if (selectedModel === "none") {
                mlpForm.style.display = "none";
                rfForm.style.display = "none";
            }
        }
    </script>

    <div class="model-select-container">
        <label for="model-select">Choose a model:</label>
        <select id="model-select" name="model-select" onchange=showHyperparamsForm()>
            <option value="none">None</option>
            <option value="MLP">MLP</option>
            <option value="RF">Random Forest</option>
        </select>
    </div>

    <div class="hyperparameters-container">
        <div id="mlp-hyperparams" class="mlp-hyperparams">
            <label for="learning-rate">Learning Rate:</label>
            <input type="number" id="learning-rate" name="learning-rate" step="0.01" value="0.001"><br>

            <label for="num-epochs">Number of Epochs:</label>
            <input type="number" id="num-epochs" name="num-epochs" value="10"><br>

            <label for="batch-size">Batch Size:</label>
            <input type="number" id="batch-size" name="batch-size" value="32"><br>
        </div>

        <div id="rf-hyperparams" class="rf-hyperparams">
            <label for="n-estimators">Number of Estimators:</label>
            <input type="number" id="n-estimators" name="n-estimators" value="100"><br>

            <label for="max-depth">Max Depth:</label>
            <input type="number" id="max-depth" name="max-depth" value="5"><br>

            <label for="min-samples-split">Min Samples Split:</label>
            <input type="number" id="min-samples-split" name="min-samples-split" value="2"><br>
        </div>
    </div>    
    

</body>
</html>
