<!DOCTYPE html>
<html>
<head>
    <title>ModelSanoApp</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h1>Upload CSV File</h1>
    <form method="POST" enctype="multipart/form-data" action="/predict">
        <label for="model-select">Select a model (antPlasm by now):</label>
        <select name="model" id="model-select">
            <option value="mlp_full">mlp full</option>
            <option value="mlp_met">mlp met</option>
            <option value="rf_full">rf full</option>
            <option value="rf_met">rf met</option>
        </select>
        <br>
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>

    <h2>Download Predictions</h2>
    <a id="download-link" href="" download>Download CSV</a>

    <script src="../static/js/script.js"></script>
</body>
</html>
